<div class="add-edit-feedback container">
  <h1 class="title">Welcome</h1>
  <form #loginForm="ngForm" (submit)="onSubmit(loginForm)" autocomplete="off">
    <div class="form-group">
      <label>Emp ID</label>
      <input
        type="text"
        name="empId"
        #empId="ngModel"
        [(ngModel)]="feedbackModel.empId"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label>Emp Name</label>
      <input
        type="text"
        name="empName"
        #empId="ngModel"
        [(ngModel)]="feedbackModel.empName"
        class="form-control"
        required
      />
    </div>
    <div class="form-group">
      <label>Project</label>
      <select name="empId" #empId="ngModel" [(ngModel)]="feedbackModel.project" class="form-control" required>
        <option *ngFor="let project of projects" [value]="project.id">{{ project.name }}</option>
      </select>
    </div>
    <div class="form-group">
      <label>Ratings</label>
      <ngb-rating [rate]="feedbackModel.ratings"></ngb-rating>
      <div class="form-text small">
        <!-- <div *ngIf="ctrl.valid" class="text-success">Thanks!</div>
            <div *ngIf="ctrl.invalid" class="text-danger">Please rate us</div> -->
      </div>
    </div>
    <!-- <div class="form-group">
            <label>Comments</label>
            <textarea name="empName"
                #empId="ngModel"
                [(ngModel)]="feedbackModel.comments"
                class="form-control"
                value=""
                required />
        </div> -->

    <div class="form-group">
      <button type="submit" [disabled]="loginForm.invalid" class="btn btn-primary btn-lg btn-block">SUBMIT</button>
    </div>
  </form>
</div>
